// Place all the styles related to the offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_up_contents h1{
    text-align:center;
} 
.sign_up_contents .form-control{
    border:1px solid #85E678;
    padding:30px 0;
    text-align:left;
    
}